In [7]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic for Analyzed Accidents by Day of the Week and Crash Date
data = pd.read_csv("traffic_accidents.csv")

# Convert Crash Day
data['crash_date'] = pd.to_datetime(data['crash_date'], format='%m/%d/%Y %I:%M:%S %p')
data['Crash Day'] = data['crash_date'].dt.day_name()

# Unique values for crash day
crash_days = data['Crash Day'].unique().tolist()

results = []
for day in crash_days:
    day_data = data[data['Crash Day'] == day]
    
    total_accident = day_data['injuries_total'].count() 
    min_injury = day_data['injuries_total'].min()  
    max_injury = day_data['injuries_total'].max()  
    avg_injury = day_data['injuries_total'].mean()  
    
    # Append result dictionary for each crash day
    results.append({
        'Crash Day': day,
        'Total Accident': total_accident,
        'Min Injuries Total': min_injury,
        'Max Injuries Total': max_injury,
        'Average Injuries Total': round(avg_injury, 2),
    })

# Sort
res_df = pd.DataFrame(results)
res_df = res_df.sort_values(by='Average Injuries Total', ascending=False)
res_df

,Crash Day,Total Accident,Min Injuries Total,Max Injuries Total,Average Injuries Total
1,Sunday,25246,0.0,12.0,0.45
0,Saturday,30710,0.0,16.0,0.40
3,Wednesday,30093,0.0,21.0,0.38
5,Monday,27938,0.0,21.0,0.38
2,Thursday,30787,0.0,13.0,0.36
4,Tuesday,30074,0.0,11.0,0.36
6,Friday,34458,0.0,19.0,0.36

In [1]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic for Analyzed Accidents by Month
data = pd.read_csv("traffic_accidents.csv")

# Convert Crash Month
data['crash_date'] = pd.to_datetime(data['crash_date'], format='%m/%d/%Y %I:%M:%S %p')
data['Crash Month'] = data['crash_date'].dt.month_name()

# Unique values for Crash Month
crash_days = data['Crash Month'].unique().tolist()

results = []
for month in crash_days:
    day_data = data[data['Crash Month'] == month]
    
    total_accident = day_data['injuries_total'].count() 
    max_injury = day_data['injuries_total'].max()  
    avg_injury = day_data['injuries_total'].mean()  
    
    # Append result dictionary for each crash month
    results.append({
        'Crash Month': month,
        'Total Accident': total_accident,
        'Max Injuries Total': max_injury,
        'Average Injuries Total': round(avg_injury, 2)
    })

# Sort
res_df = pd.DataFrame(results)
res_df = res_df.sort_values(by='Average Injuries Total', ascending=False)
res_df

   Crash Month  Total Accident  Max Injuries Total  Average Injuries Total
0         July           17834                12.0                    0.43
1       August           18350                15.0                    0.41
3    September           19018                11.0                    0.41
4         June           17851                 9.0                    0.41
11         May           17432                16.0                    0.40
8      October           20089                21.0                    0.39
9        April           15096                15.0                    0.38
5     November           18328                17.0                    0.37
2     December           18816                21.0                    0.36
7        March           15265                12.0                    0.36
10     January           16606                 9.0                    0.34
6     February           14621                19.0                    0.32

In [9]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic for Analyzed Accidents by Year
data = pd.read_csv("traffic_accidents.csv")

# Convert Crash Year
data['crash_date'] = pd.to_datetime(data['crash_date'], format='%m/%d/%Y %I:%M:%S %p')
data['Crash Year'] = data['crash_date'].dt.year

# Unique values for Crash Year
crash_days = data['Crash Year'].unique().tolist()

results = []
for year in crash_days:
    day_data = data[data['Crash Year'] == year]
    
    total_accident = day_data['injuries_total'].count() 
    max_injury = day_data['injuries_total'].max()  
    avg_injury = day_data['injuries_total'].mean()  
    
    # Append result dictionary for each crash month
    results.append({
        'Crash Year': year,
        'Total Accident': total_accident,
        'Max Injuries Total': max_injury,
        'Average Injuries Total': round(avg_injury, 2)
    })

# Sort
res_df = pd.DataFrame(results)
res_df = res_df.sort_values(by='Crash Year', ascending=True)
res_df

    Crash Year  Total Accident  Max Injuries Total  Average Injuries Total
10        2013               2                 2.0                    1.50
7         2015            1917                 5.0                    0.15
4         2016            7615                13.0                    0.18
8         2017           17655                11.0                    0.33
3         2018           27438                21.0                    0.37
6         2019           27959                16.0                    0.36
5         2020           22784                19.0                    0.41
1         2021           25689                21.0                    0.40
2         2022           25543                17.0                    0.40
0         2023           25454                11.0                    0.41
9         2024           26214                15.0                    0.44
11        2025            1036                 7.0                    0.40